{% extends "restrack/base.html" %}

{% block content %}

	{% block sidebar %}{% endblock %}

	<div class="container">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div><!-- /input-group -->


	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th data-field="facility_name">Name</th>
			</tr>
		</thead>

		<tbody>
			{% for facility in facility %}
			<tr>
				<td><a href="/restrack/{{ facility.id }}/facility/"> {{ facility.facility_name }} </a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
		
	</div>

{% endblock %}